*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
  }
  body{
    overflow: hidden;
  }
  .sidebar {
    position: fixed;
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(10, 10, 10, 0.85);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    cursor: pointer;
  }
  
  li {
    width: 100%;
    text-align: center;
    padding: 10px 0;
  }
  
  .icon {
    font-size: 1.5rem;
    color: white;
  }
  
  
  .navbar {
    margin: 10px 0;
  }
  .logo{
    margin-bottom: 100px;
  }
  .menu{
    position: absolute;
    bottom: 0;
  }
  .logo:hover,.navbar:hover,.menu:hover{
    background-color: silver;
    transition: 1;
    border-radius: 5px;
  }
  .row {
    position: fixed;
    top: 0; /* Hoặc bottom: 0 nếu muốn cố định ở cuối */
    left: 60px; /* Đặt lại vị trí bên trái */
    width: calc(100% - 60px); /* Đảm bảo chiều rộng bao phủ toàn màn hình */
    height: 46px; /* Chiều cao giữ nguyên */
    margin-left: 0; /* Loại bỏ margin để tránh dịch chuyển */
    background-color: rgba(10, 10, 10, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
}

  
  .btn.log{
    cursor: pointer;
    position: absolute;
    right: 0;
    margin-right: 20px;
    padding: 6px 8px;
    border-radius: 25px;
    background-color: #fff;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.2s;
  }
  .log:hover{
    opacity: 0.7;
  }
  h3{
    color:#fff;
    font-size:15px;
    margin-right: 80px;
  }
  
  .box {
    position: absolute;
    background-color: blue;
    width: 700px;
    height: 100%;
    margin-top: 46px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    overflow-y: auto;
    scrollbar-width: none;
    padding: 20px;
  }
  
  .content{
    position: absolute;
    top:20px;
    width: 95%;
    padding-bottom: 60px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .content::-webkit-scrollbar {
    width: 80%;
    max-width: 100px;       /* Đặt chiều rộng tối đa */
    height: 300px;          /* Chiều cao cố định */
    border: 2px solid #333; /* Đường viền hình chữ nhật */
    padding: 20px;
    overflow-y: auto;       /* Kích hoạt cuộn dọc */
    background-color: #f9f9f9;}
  
  .content::-webkit-scrollbar-thumb {
    background-color: #007bff;
    border-radius: 4px;
  }
